name: DemoShop CI

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Install Chrome
        run: sudo apt-get update && sudo apt-get install -y google-chrome-stable

      - name: Install Firefox
        run: sudo apt-get install -y firefox

      - name: Build with Maven
        run: mvn clean install -DskipTests

      - name: Run Regression suite
        run: mvn test

      - name: List reports folder
        run: ls -R reports || echo "No reports folder found"

      - name: Upload ExtentReport
        uses: actions/upload-artifact@v4
        with:
          name: ExtentReport
          path: reports/ExtentReport_*.html